<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Server Mbf">
        <meta name="author" content="Bayu Riski A.M">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/atom-one-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
        <title>Server Mbf</title>
    </head>
    <body>
        <div class="container pt-5">
           <h1>Server Polygon</h1>
           <br>
           <p align="center">
                <a href="https://www.youtube.com/channel/UCtu-GcxKL8kJBXpR1wfMgWg/featured"><img src="https://img.shields.io/static/v1?label=youtube&message=pejuang+kentang&color=green&logo=youtube&logoColor=white" alt=""></a>
                <a href="https://github.com/Bayu12345677"></a><img src="https://img.shields.io/static/v1?label=github&message=Bayu12345677&color=green&logo=git&logoColor=white" alt="">
            </p>
           <br> 
           <br>
           <h5 class="text-lg-left pb-2">endpoint: home data base</h5>
           <div>
                <p class="fw-bold">list data base:</p>
                <pre><code class="hljs">1. licenser mbf</code></pre>
           </div>
        </div>
    </body>